*              @fiendish @znatty22 @allisonheath 
/scripts/      @fiendish @znatty22 @allisonheath @alubneuski
/.circleci/    @fiendish @znatty22 @allisonheath @alubneuski
/.dockerignore @fiendish @znatty22 @allisonheath @alubneuski
/Dockerfile    @fiendish @znatty22 @allisonheath @alubneuski
/Jenkinsfile   @fiendish @znatty22 @allisonheath @alubneuski
